<#@ template debug="false" hostspecific="false" language="C#" compilerOptions="/langversion:10"  #>
<#@ output extension=".cs" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="Microsoft.CSharp" #>
<#@ import namespace="System.Dynamic" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ include file="ast.metamodel.ttinclude"#>
<#@ include file="ast.typesystem.ttinclude"#>
